.content {
    padding: 0.25rem;
    background-color: #fff;
    border-radius: 0.25rem;
    min-height: 75px;
}

a {
    color: inherit;
}

img.product {
    height: 80px;
    max-height: 80px;
    max-width: initial;
    pointer-events: none;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
    word-wrap: normal;    
}

.tile {
    border: 1px solid #e6e6e6;
    border-radius: 0.25rem;
}
.tileSelected {
    border: 2px solid #406EC8;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 5px grey;
}