.card-body {
    background-color: #fff;
}

.pageLeftMargin {
    margin: 2em 3em;
}
.large-font {
    font-size: normal;
    font-weight: normal;
}

@media screen and (min-width: 600px) {
    .right-border {
        border-right: 1px solid #e6e6e6;
    }
}
@media screen and (max-width: 600px) {
    .large-font {
        font-size: large;
        font-weight: bold;
    }
    .pageLeftMargin {
        margin: none;
    }
}
